<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!--208.109.11.78-->
    <!--<add name="WetosDBEntities" connectionString="metadata=res://*/WetosDBModel.csdl|res://*/WetosDBModel.ssdl|res://*/WetosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=208.109.11.78, 1433\SQLDEVELOPER;initial catalog=DB_131818_wetosdezire;user id=sa;password=Sspl@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WetosMvcConnectionString" connectionString="data source=208.109.11.78, 1433\SQLDEVELOPER;initial catalog=DB_131818_wetosdezire;user id=sa;password=Sspl@12345;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient" />-->
    <!--Live-->
    <!--<add name="WetosDBEntities" connectionString="metadata=res://*/WetosDBModel.csdl|res://*/WetosDBModel.ssdl|res://*/WetosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;initial catalog=etimetracker;user id=etimetracker_user;password=98B7&amp;zpi;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="WetosMvcConnectionString" connectionString="Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Initial Catalog=etimetracker;Persist Security Info=True;User ID=etimetracker_user;Password=98B7&amp;zpi" providerName="System.Data.SqlClient" />-->
  
	<!--Local-->
    <add name="WetosDBEntities" connectionString="metadata=res://*/WetosDBModel.csdl|res://*/WetosDBModel.ssdl|res://*/WetosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=208.109.11.78, 1433\SQLDEVELOPER;initial catalog=DB_131818_wetosdezire;user id=sa;password=Sspl@12345;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="WetosMvcConnectionString" connectionString="Data Source=208.109.11.78, 1433\SQLDEVELOPER;Initial Catalog=DB_131818_wetosdezire;Persist Security Info=True;User ID=sa;Password=Sspl@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <!--<add key="webpages:Version" value="1.0.0.0" />-->
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Excel connection string fot Import-->
    <add key="ExcelConnStr" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=[ExcelFile];Extended Properties=&quot;Excel 12.0 Xml;HDR=YES&quot;;" />
    <!--Company name and link-->
    <!--Added by Rajas on 26 JULY 2017 START-->
    <add key="CompanyNameFooter" value="Eviska Infotech Private Limited" />
    <add key="CompanyLink" value="http://www.eviska.com" />
    <!--CODE ADDED BY SHRADDHA ON 20 NOV 2017 TO SET POSTING ATTENDANCE INTERNAL OR EXTERNAL-->
    <add key="InternalPosting" value="true" />
    <!--Product name-->
    <add key="Product" value="WETOS D'zire" />
    <!--Added by Rajas on 26 JULY 2017 END-->
    <!--Email Settings-->
    <add key="SMTPServerName" value="smtp.gmail.com" />
    <add key="SMTPUsername" value="abc@abc.com" />
    <add key="SMTPPassword" value="BaToN@20i9" />
    <add key="SMTPPort" value="587" />
    <add key="IsHTML" value="1" />
    <add key="IsSSL" value="1" />
    <!--Email  CC Settings-->
    <add key="IncludeInBCC" value="0" />
    <add key="Contact1" value="abc@abc.com " />
    <add key="Contact2" value="abc@abc.com " />
    <add key="Support" value="abc@abc.com " />
    <add key="VirtualDir" value="" />
    <add key="SecurityKey" value="Atul Singh Eviska Infotech WETOS" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--CODE ADDED BY SHRADDHA ON 18 NOV 2017-->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxUrlLength="10240" maxQueryStringLength="2097100" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="UrlRoutingHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		<remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>