@{
    ViewBag.Title = "ContactUs";
}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <p>
        <legend>FLAGSHIP BIOTECH INTERNATIONAL PVT. LTD.</legend>
        <br />
        1204, Rupa Solitaire, Plot A-1, MBP, T.T.C Industrial Area,<br />
        Mahape, Navi Mumbai, 400 710
        <br />
        <b>Phone No:</b> 022 27781651
    </p>
</div>