<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

   <!--<add name="WetosDBEntities" connectionString="metadata=res://*/WetosDBModel.csdl|res://*/WetosDBModel.ssdl|res://*/WetosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EUOMTLG;initial catalog=DB_131818_wetosdezire_New;persist security info=True;user id=sa;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="WetosDBEntities" connectionString="metadata=res://*/WetosDBModel.csdl|res://*/WetosDBModel.ssdl|res://*/WetosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MA2IQ85\SQLEXPRESS;initial catalog=DB_131818_wetosdezire;persist security info=True;user id=sa;password=password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
