.fc-center h2 {
    font-size: 20px !important;
}
.btns_group {
    right: 3%;
    margin-bottom: 1%;
}
.fc-toolbar .fc-center {
    display: inline-block;
    padding-top: 1.5%;
}
#page_content {
    padding: 5px;
}

.padding_left_0 {
    padding-left: 0px;
}

h1 {
    font-size: x-large !important;
}

.feeds li .col1>.cont {
    float: left;
}

#ticker_container {
    margin-top: 6px;
}

#newscontent {
    margin-right: 10px;
    float: left;
}

#newscontent a {
    color: #585858;
}

#news {
    display: none;
}

#controls {
    float: right;
    height: 16px;
}

#news {
    display: none;
}

.news_tricker {
    width: 50%;
}

[class*=sidebar-dark-] {
    /* background-color: #001b35; */
    background-image: linear-gradient( #20466f, #96a8bb);
}

.page-title {
    color: #2c599f;
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
}

.glass {
    position: relative;
    background-image: linear-gradient(#20466f, #20466f);
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.glass:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0%;
    width: calc(100%);
    height: 60%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    z-index: 1;
}

.icon_btn {
    position: relative;
    background-image: linear-gradient(#20466f, #20466f) !important;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.icon_btn:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0%;
    width: calc(100%);
    height: 60%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    z-index: 1;
}

.icon_btn:hover {
    background-image: linear-gradient(#20466f, #20466f) !important;
}

.glass:hover {
    background-image: linear-gradient(#20466f, #20466f);
}

.fc .fc-button-group> :first-child {
    margin-left: 0;
    position: relative;
    background-image: linear-gradient(#20466f, #20466f);
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}
.fc-button.hover, .fc-button:active, .fc-button:hover {
    background-color: #20466f!important;
}

.fc-state-default.fc-corner-right {
    margin-left: 0;
    position: relative;
    background-image: linear-gradient(#20466f, #20466f);
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.fc-state-default.fc-corner-right:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0%;
    width: calc(100%);
    height: 60%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    z-index: 1;
}

.fc .fc-button-group> :after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0%;
    width: calc(100%);
    height: 60%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    z-index: 1;
}

.portlet>.portlet-title {
    padding-left: 4%;
    padding-top: 1%;
    height: 52px;
}
.portlet.box.purple > .portlet-title {
    background-color: #8e44ad;
    height: 42px !important;
}
table.table.table-bordered.table-striped>thead {
    background-color: #c9d1da;
    font-weight: 700;
    color: #000;
    height: 30px;
    vertical-align: middle;
    font-size: 20px;
}

.blue.btn {
    background-color: #20466f;
    right: -90%;
    height: 35px;
}

.blue.btn:hover {
    background-color: #20466f;
}

.portlet.box.blue-madison>.portlet-title {
    background-color: #d2dbe4;
}

.portlet.box>.portlet-title {
    /*color: #285294 !important;*/
}

.page-breadcrumb.breadcrumb {
    box-shadow: 0px 2px 6px #a9b1b8;
}

.ed_breadcrumb {
    margin-bottom: 1% !important;
    margin-top: -2% !important
}

.fc-day-grid-event {
    margin: 1px 0px 0 1px;
    padding: 0 1px;
    border-radius: 5px;
    min-width: 55px;
    color: #fff !important;
    text-align: center;
    padding: 3px 0px;
    font-size: 10px;
}

.fc td.fc-today {
    background: #607b98;
    color: #fff;
}

.fc td.fc-past {
    background: #c9d4e0;
}

.fc td.fc-future {
    background: #e5ecf2;
}

.fc-day-header {
    background: #20466f;
    color: #fff;
    padding: 5px !important;
}

.margin_left {
    margin-left: 75%;
}


/* .fc-day-grid-container {
    height: 335px !important;
} */

.fc-day-grid-container {
    min-height: 325px !important;
    height: auto !important;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
    background: 0 0;
    border-color: #000000fc;
    border-bottom: 0;
}

.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #030303;
}

.portlet.box.blue-madison>.portlet-title>.caption>i {
    color: #20466f !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
    box-shadow: 0px 2px 6px #a9b1b8;
    margin-bottom: 1%;
}

.icon_width_height {
    width: 30px;
    height: 30px;
}

.red_div {
    background-color: Red;
    height: 10px;
    width: 10px
}

.absent_div {
    padding: 0px;
    font-size: 11px;
}

.green_div {
    background-color: Green;
    height: 10px;
    width: 10px;
}

.present_div {
    padding: 0px;
    font-size: 10px;
}

.slateblue_div {
    background-color: slateblue;
    height: 10px;
    width: 10px
}

.present_week {
    padding: 0px;
    font-size: 10px;
}

.purple_div {
    background-color: Purple;
    height: 10px;
    width: 10px;
}

.Week_Off {
    padding: 0px;
    font-size: 10px;
}

.Orange_div {
    background-color: Orange;
    height: 10px;
    width: 10px;
}

.holiday_div {
    padding: 0px;
    font-size: 10px;
}

.blue_div {
    background-color: #1c325d;
    height: 10px;
    width: 10px
}

.leave_div {
    padding: 0px;
    font-size: 10px;
}

.f_pink_div {
    background-color: #f91cb8;
    height: 10px;
    width: 10px;
}

.first_half_absent {
    padding: 0px;
    font-size: 11px;
}

.s_pink_div {
    background-color: #f91cb8;
    height: 10px;
    width: 10px;
}

.second_half_absent {
    padding: 0px;
    font-size: 10px;
}

.duty_blue_div {
    background-color: #1c325d;
    height: 10px;
    width: 10px;
}

.On_duty {
    padding: 0px;
    font-size: 10px;
}

.tour_blue_div {
    background-color: #1c325d;
    height: 10px;
    width: 10px;
}

.tour_div {
    padding: 0px;
    font-size: 10px;
}

.early_go {
    padding: 0px;
    font-size: 10px;
}

.late_count {
    /*padding: 0px;*/
    font-size: 10px;
}

.notification_div {
    padding-top: 2%;
    margin-left: 0%;
    box-shadow: 0px 2px 6px #a9b1b8;
    margin-top:1%;
}
.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.bell_div {
    padding-top: 3%;
}

.notification_txt {
    text-shadow: -3px 0px 4px #6f88a2;
    color: #285294;
    font-size: 25px;
    padding-top: 3.5%;
}

.scroller_div {
    min-height: 40px;
    overflow-y: auto;
    width: 100%;
    max-height: 240px;
}

.bell_img {
    margin-left: 40%;
}

.leave_balance_row {
    margin-left: 0%;
    margin-right: -1px;
}

.leave_balance_div {
    background-color: #d2dbe4;
    color: #20466f;
    padding-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0px 2px 6px #a9b1b8;
}

.leave_types_table {
    width: 100%;
    height: auto;
    border: 1px solid Black;
    border-collapse: inherit;
}

.cal_div {
    padding-top: 2%;
    margin-left: 3%;
    box-shadow: 0px 2px 6px #a9b1b8;
    padding-bottom: 2%;
}

.title_style {
    box-shadow: 0px 2px 6px #a9b1b8;
    font-style: italic;
}

.users_icon {
    margin-left: 10px
}

.home_width_height {
    width: 25px;
    height: 25px;
}

.btn_width {
    width: 50px;
}

.date_margin {
    margin-left: 72%;
}

.portlet {
    background: #f3f3f3 !important;
}

.feeds li .col1>.cont>.cont-col1 {
    margin-right: 0% !important;
}

.feeds li .col2 {
    float: left;
    width: 90px;
    margin-left: -100px;
}

.row {
    margin-right: 0px;
}

.padding_right_0 {
    padding-right: 0px;
}
.portlet.box > .portlet-title > .tools {
    margin-top: -0.5%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .fc-day-grid-container {
        height:315px !important;
    }
    .portlet.box > .portlet-title > .tools {
        margin-top: 3px !important;
    }
    .cal_div {
        padding-top: 2%;
        margin-left: 1%;
        box-shadow: 0px 2px 6px #a9b1b8;
        padding-bottom: 2%;
        margin-right: 1%;
        margin-bottom: 5%;
        overflow-x: auto;
    }
    .date_margin {
        margin-left: 54%;
        margin-top: -9%;
    }
	 h4 {
        font-size: 15px !important;
    }
    .blue.btn {
        background-color: #20466f;
        right: -30%;
        height: 40px;
        margin-top: -6%;
    }
    .notification_div {
        margin-left: 1%;
        width: 98%;
    }
    .portlet.box.blue-madison {
        border: 1px solid #7ca7cc;
        border-top: 0;
        width: 150%;
        /* overflow-x: auto; */
    }

    .fc-day-grid-event {
        width: 90%;
        font-size: 10px;
    }
    .light-grey {
        padding-left: 15px !important;
    }
    .padding_left_0 {
        padding-left: -1px !important;
    }
    .m_padding_left_0 {
        padding-left: 0px !important;
    }
    #btnreadmore {
        background-color: #20466f;
        right: -20% !important;
        height: 40px;
        margin-top: 0% !important;
    }
}

@media screen and (min-width: 375px) and (min-height:700px) {
    .m_padding_left_12 {
        padding-left: 0%;
    }
}

@media screen and (min-width: 411px) and (max-width: 414px) {
    .m_padding_left_12 {
        padding-left: 0%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .m_padding_left_12 {
        padding-left: 0%;
    }
    h4 {
        font-size: 15px !important;
    }
    .fc-day-grid-event {
        margin: 0px 0px 0px 0px;
        padding: 0 1px;
        border-radius: 5px;
        width: 30px;
        color: #fff !important;
        text-align: center;
        padding: 2px 2px;
    }
    #btnreadmore {
        right: -35%;
    }
    .padding_left_0 {
        padding-left: 0px;
    }
    .m_padding_left_0 {
        padding-left: 0px !important;
    }
    .fc-day-grid-container {
		min-height: 402px !important;
		overflow: auto;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .padding_left_0 {
        padding-left: 10px;
    }
    .m_padding_left_0 {
        padding-left: 0px !important;
    }
    #btnreadmore {
        right: -38%;
    }
    .fc-day-grid-event {
        padding: 0px 0px !important;
        border-radius: 5px;
        width: 30px;
        color: #fff !important;
        text-align: center;
        padding: 0px 3px 0px 0px !important;
        font-size: 9px;
    }
    .fc-day-grid-container {
        min-height: 387px !important;
		height: auto;
		overflow: auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1365px) {
    #btnreadmore {
        right: -71% !important;
    }
    .fc-day-grid-container {
        min-height: 424px !important;
		overflow: auto;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2100px) {
    #btnreadmore {
        right: -210%;
    }
}