@model WetosDB.UploadCompanyDocument

@{
    ViewBag.Title = "ViewCompanyPolicies";
}

<link href="~/Content/allcss/allcss.css" rel="stylesheet" />


<div class="page-content-wrapper" id="page_content">
    <div class="page-content">
       
        <section class="content-header">
         <div class="row page-breadcrumb breadcrumb ed_breadcrumb ed_breadcrumb_row">
                <div class="col-sm-6 ed_breadcrumb_div">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                        </li>
                         <li class="li_margin">
                         <a href="#">Updates</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    <li class="li_margin">
                         <a href="#">Update Company Policies</a>
                    </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
        
            <h1>Company Policies
        <small>View</small>
            </h1>
            
            <div style="clear: both;"></div>

        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">

                    <div class="box">
                        <div class="box-header">
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                        @if (ViewBag.IsFileAvailableOrNotFlag == true)
                        {
                          <a href="/Company_Documents/@Model.FileName" target="_Self">Click here to view Company Policies</a>
                        }
                        else { 
                        <span>No Data available</span>
                        }
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
</div>