.import_icon {
    margin: 3px !important;
    margin-left: 83% !important;
}

.table-bordered {
    box-shadow: 0px 2px 6px #a9b1b8 !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    box-shadow: 0px 2px 6px #a9b1b8 !important;
}

table.table.table-bordered.table-striped>thead {
    background-color: #c9d1da !important;
    font-weight: 700;
    color: #000 !important;
    height: 30px;
    vertical-align: middle !important;
    font-size: 20px !important;
}

.row {
    width: 100%;
}


/* #CompanyLoan {
    width: 100% !important;
} */

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .page-content-wrapper .page-content {
        padding: 10px 10px !important;
        overflow: visible !important;
    }
    .table-responsive {
        border: 0px solid #ddd !important;
    }
    .content-header {
        padding-top: 0% !important;
    }
    .import_icon {
        margin-left: 46% !important;
    }
}

@media screen and (min-device-width: 411px) and (max-device-width: 414px) {
    .page-content-wrapper .page-content {
        padding: 10px 10px !important;
        overflow: visible !important;
    }
    .content-header {
        padding-top: 0% !important;
    }
    .import_icon {
        margin-left: 53% !important;
    }
}

@media screen and (min-device-width: 767px) and (max-device-width: 1023px) {
    .import_icon {
        margin: 3px !important;
        margin-left: 76% !important;
    }
    .content-header {
        padding-top: 0% !important;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .import_icon {
        margin: 4px !important;
        margin-left: 76% !important;
    }
}

@media screen and (min-device-width: 1800px) and (max-device-width: 2100px) {
    #CompanyLoan {
        width: 100% !important;
    }
    .import_icon {
        margin: 3px !important;
        margin-left: 89% !important;
    }
}