
<link href="~/Content/allcss/allcss.css" rel="stylesheet" />
<section class="content-header">
            <div class="row page-breadcrumb breadcrumb ed_breadcrumb">
                <div class="col-sm-6">
                    <ul>
                        <li class="li_margin1">
                            <img src="~/Content/images/icon/home_1.png" class="home_width_height" />
                            <a href="@Url.Action("Index", "Home")">Home</a><i class="fa fa-angle-right"></i>

                        </li>
                           <li class="li_margin">
                         <a href="#">Administration</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li class="li_margin">
                            <a href="#">File Processing</a>
                        </li>
                        </ul>
                </div>
                <div class="col-sm-6">
                    <ul style="float: right;">
                        <li class="">
                            <div id="dashboard-report margin_left" data-toggle="tooltip" title="Today's date">
                                <img src="~/Content/images/icon/imageedit_42.png" class="icon_width_height" />
                                <span>
                                    @DateTime.Now.ToLongDateString()
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<h1>
        File Processing
        <small></small>
      </h1>
     
       @*Added by Pushkar For back breadcrumb on 24 OCT 2016----------Start*@
     
      <div style="clear: both;"></div>

       @*Added by Pushkar For back breadcrumb on 24 OCT 2016-----------End*@

 </section>
<section class="content">
<div class="row">
<div class="col-xs-12 col-md-12 col-lg-12">         
<div class="box">

<div class="box-body">
@using (Html.BeginForm("FileProcessing", "WetosAdministration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <div style="color:Green;font-size:15px">@ViewBag.Message</div>
 <label for="file">
                        Attach file:
                    </label>
                    <input type="file" name="UploadFile" />
<input type="submit" value="Save" onclick="showloading()"/>
}
</div>
</div>
</div>
</div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        hideloading();
    });
</script>